<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Library -->
      <package
            uri="http://edelta/Library/v4"
            class="library.LibraryPackage"
            genModel="model/Library.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Library -->
      <package
            uri="http://edelta/Books/v4"
            class="books.BooksPackage"
            genModel="model/Library.genmodel"/>
   </extension>

</plugin>
